body{
    background-color: rgba(20, 20, 20, 0.871);
    color: white;
}

.headings, .Lists, .ilabels{
    font-family: 'Sofia', sans-serif;
    text-align: center;
}

.media, .inputs, .select{
    border-radius: 7px;
}

hr{
    background-color: rgb(113, 246, 246);
    border: none;
    height: 3px;
    border-radius: 5px;
}

.inputs, .select{
    height: 40px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sofia', sans-serif;
    font-size: large;
}

.form-group {
    margin-bottom: 1em;
}

@keyframes flicker {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #0023e6, 0 0 50px #0060e6, }
    to { text-shadow: 0 0 20px #fff, 0 0 30px #4d7cff, 0 0 40px #4db8ff, 0 0 50px #4d7cff }
}

.neonText {
    animation: flicker 1s ease-in-out infinite alternate;
}

.button{
    border-radius: 7px;
    height: 40px;
    width: 100%;
}
img{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}