body{
    background-color: rgb(44, 41, 41);
    color: white;
}
.headings{
    font-family: 'Sofia', sans-serif;
    text-align: center;
}
.Lists{
    font-family: 'Sofia', sans-serif;
    font-weight: bold;
}
.media{
    border-radius: 7px;
    
}


hr{
    background-color: rgb(113, 246, 246);
    border: none;
    height: 3px;
    border-radius: 5px;
}

.inputs{
    
    border-radius: 7px;
    height: 40px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sofia', sans-serif;
    font-size: large;
    

}
.ilabels{
    font-size:x-large;
    font-family:'Sofia',sans-serif;
    display: flex;
    justify-content: center;


    
    

}
.select{
    height: 40px;
    width: 250px;
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: 'Sofia', sans-serif;
}
/* @keyframes flicker {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #0023e6, 0 0 50px #0060e6, }
    to { text-shadow: 0 0 20px #fff, 0 0 30px #4d7cff, 0 0 40px #4db8ff, 0 0 50px #4d7cff }
} */

.neonText {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #0023e6, 0 0 50px #0060e6;
    text-shadow: 0 0 20px #fff, 0 0 30px #4d7cff, 0 0 40px #4db8ff, 0 0 50px #4d7cff;
    /* animation: flicker 1s ease-in-out infinite alternate; */
}

.button{
    border-radius: 7px;
    height: 40px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: 'Sofia', sans-serif;

}
img{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



/*

td{
    border: 2px solid rgb(219, 167, 167);
}
p{
    background-color: aquamarine;
}
a{
    background-color: bisque;
}
div{
    background-color: rgb(177, 215, 248);

}
span{
    background-color: aqua;
} */